<template>
  <v-scale-transition>
    <v-layout row wrap fill-height>
      <v-container
        grid-list-xs
        fluid
        class="pa-0"
      >
        <v-layout row wrap fill-height>
          <v-flex xs6
            v-for="(p, k) in parts"
            :key="k"
          >
            <v-card flat tile>
              <v-card-media
                :src="`https://unsplash.it/150/300?image=${Math.floor(Math.random() * 100) + 1}`"
                class="vh50"
              >
                <v-container fill-height fluid>
                  <v-layout fill-height align-center justify-center>
                    <v-flex xs12 align-center flexbox class="text-xs-center white--text">
                      <span class="display-3" >{{ p.title }}</span>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-card-media>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-layout>
  </v-scale-transition>
</template>

<script>
export default {
  name: 'about',
  metaInfo: {
    title: 'About | Misiejuk websites'
  },
  data () {
    return {
      msg: 'O mnie',
      parts: [
        {
          title: 'Programista'
        },
        {
          title: 'Ojciec'
        },
        {
          title: 'Piwowar'
        },
        {
          title: 'Muzyk'
        }
      ]
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
/* Window height calculated grid */
.vh50 {
  height: calc( 50vh - 34px) !important;
}
@media (max-width:959px) {
  .vh50 {
    height: calc( 50vh - 26px) !important;
  }
}
@media (orientation:portrait) {
  .vh50 {
    height: calc( 50vh - 30px) !important;
  }
}
</style>
