<template>
  <v-scale-transition>
    <v-container>
      <h1>{{ post.title }}</h1>
      <v-btn to="/blog">Wróć do bloga</v-btn>
      <div>
        {{ post.description }}
      </div>
    </v-container>
  </v-scale-transition>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'Article',
  metaInfo () {
    return {
      title: this.post.title + ' | Misiejuk websites'
    }
  },
  props: {
    id: {
      type: String,
      required: true
    }
  },
  computed: {
    ...mapGetters([
      'blog'
    ]),
    post () {
      var post
      var blog = this.blog
      var currId = this.id
      Object.values(blog).forEach((p) => {
        if (p.slug === currId) {
          post = p
        }
      })
      return post
    }
  }
}
</script>
