<template>
  <v-scale-transition>
    <v-container>
      <h1>Blog</h1>
      <v-container
        grid-list-xl
        fluid
        class="pa-0"
      >
        <v-layout
          row
          wrap
          class="pt-3"
        >
          <v-flex xs12 sm6 xl4
            v-for="article in blog"
            :key="article.slug"
            tag="article"
          >
            <router-link
              :to="{ name: 'Article', params: { id: article.slug }}"
            >
              <v-card>
                <v-card-title>
                  <h2>{{ article.title }}</h2>
                </v-card-title>
                <v-card-text>
                  <p>{{ article.description }}</p>
                </v-card-text>
              </v-card>
            </router-link>
          </v-flex>
        </v-layout>
      </v-container>
    </v-container>
  </v-scale-transition>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'blog',
  metaInfo: {
    title: 'Blog | Misiejuk websites'
  },
  computed: {
    ...mapGetters([
      'blog'
    ])
  },
  methods: {
    goToArticle (slug) {
      this.$router.push({ name: 'Article', params: { id: slug } })
    }
  }
}
</script>

<style>

</style>
