<template>
  <v-scale-transition>
    <v-layout column>
      <section>
        <v-parallax src="img/hero.jpeg" height="600">
          <v-layout
            column
            align-center
            justify-center
            class="white--text"
          >
            <img src="img/vuetify.png" alt="Vuetify.js" height="200">
            <h1 class="white--text mb-2 display-1 text-xs-center">Misiejuk Websites</h1>
            <div class="subheading mb-3 text-xs-center">Strony internetowe nowej generacji</div>
            <v-btn
              dark
              large
              class="blue lighten-2 mt-5"
            >
              Zamów stronę
            </v-btn>
          </v-layout>
        </v-parallax>
      </section>

      <section>
        <v-layout
          column
          wrap
          class="my-5"
          align-center
        >
          <v-flex xs12 sm4 class="my-3">
            <div class="text-xs-center">
              <h2 class="headline">Najlepszy sposób żeby zaistnieć w sieci</h2>
              <span class="subheading">
                Tylko najnowsze technologie.
              </span>
            </div>
          </v-flex>
          <v-flex xs12>
            <v-container grid-list-xl>
              <v-layout row wrap align-center>
                <v-flex xs12 md4>
                  <v-card class="elevation-0 transparent">
                    <v-card-text class="text-xs-center">
                      <v-icon x-large class="blue--text text--lighten-2">color_lens</v-icon>
                    </v-card-text>
                    <v-card-title primary-title class="layout justify-center">
                      <div class="headline text-xs-center">Material Design</div>
                    </v-card-title>
                    <v-card-text>
                      Nasze strony korzystają ze znanych bibliotek komponentów, wyglądają bardziej jak aplikacje, dzięki czemu przeglądanie ich jest bardziej intuicyjne i angażujące.
                    </v-card-text>
                  </v-card>
                </v-flex>
                <v-flex xs12 md4>
                  <v-card class="elevation-0 transparent">
                    <v-card-text class="text-xs-center">
                      <v-icon x-large class="blue--text text--lighten-2">flash_on</v-icon>
                    </v-card-text>
                    <v-card-title primary-title class="layout justify-center">
                      <div class="headline text-xs-center">Szybkość i funkcjonalność, nawet offline</div>
                    </v-card-title>
                    <v-card-text>
                      Tworzymy strony statyczne, które ładują się w mgnieniu oka. Duże obrazy, które mogłyby spowolnić ładowanie, doładowywane są póżniej w tle. Efektem jest strona tak lekka, że przeglądarka zapisze ją w pamięci, by mogła być dostępna również offline.
                    </v-card-text>
                  </v-card>
                </v-flex>
                <v-flex xs12 md4>
                  <v-card class="elevation-0 transparent">
                    <v-card-text class="text-xs-center">
                      <v-icon x-large class="blue--text text--lighten-2">build</v-icon>
                    </v-card-text>
                    <v-card-title primary-title class="layout justify-center">
                      <div class="headline text-xs-center">Progresywne Aplikacje i bazy danych czasu rzeczywistego</div>
                    </v-card-title>
                    <v-card-text>
                      Nasze strony mają możliwość zapisania ich jako aplikacji na ekranie głównym. Staje się tym samym pełnoprawną aplikacją mobilną. Dzięki usługom czasu rzeczywistego możesz zapomnieć o przeładowywaniu strony, żeby zobaczyć nowopowstałą zmianę.
                    </v-card-text>
                  </v-card>
                </v-flex>
              </v-layout>
            </v-container>
          </v-flex>
        </v-layout>
      </section>

      <section>
        <v-parallax src="img/section.jpg" height="380">
          <v-layout column align-center justify-center>
            <div class="headline white--text mb-3 text-xs-center">Twoja strona internetowa nigdy nie była bliżej</div>
            <em>Zamów już dziś</em>
            <v-btn
              dark
              large
              class="blue lighten-2 mt-5"
            >
              Zamów stronę
            </v-btn>
          </v-layout>
        </v-parallax>
      </section>

      <section>
        <v-container grid-list-xl>
          <v-layout row wrap justify-center class="my-5">
            <v-flex xs12 sm4>
              <v-card class="elevation-0 transparent">
                <v-card-title primary-title class="layout justify-center">
                  <div class="headline">Info</div>
                </v-card-title>
                <v-card-text>
                  Strona, na której się znajdujesz służy również jako tester funkcjonalności. Zaloguj się, dodaj zadanie do listy, wydarzenie do kalendarza. Testuj!
                </v-card-text>
              </v-card>
            </v-flex>
            <v-flex xs12 sm4 offset-sm1>
              <v-card class="elevation-0 transparent">
                <v-card-title primary-title class="layout justify-center">
                  <div class="headline">Kontakt</div>
                </v-card-title>
                <v-card-text>
                  Skonktaktuj się w razie wątpliwości
                </v-card-text>
                <v-list class="transparent">
                  <v-list-tile>
                    <v-list-tile-action>
                      <v-icon class="blue--text text--lighten-2">phone</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                      <v-list-tile-title>+48 512667229</v-list-tile-title>
                    </v-list-tile-content>
                  </v-list-tile>
                  <v-list-tile>
                    <v-list-tile-action>
                      <v-icon class="blue--text text--lighten-2">place</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                      <v-list-tile-title>Bydgoszcz, PL</v-list-tile-title>
                    </v-list-tile-content>
                  </v-list-tile>
                  <v-list-tile>
                    <v-list-tile-action>
                      <v-icon class="blue--text text--lighten-2">email</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                      <v-list-tile-title>piotr@misiej.uk</v-list-tile-title>
                    </v-list-tile-content>
                  </v-list-tile>
                </v-list>
              </v-card>
            </v-flex>
          </v-layout>
        </v-container>
      </section>
    </v-layout>
  </v-scale-transition>
</template>

<script>
export default {
  name: 'Home',
  metaInfo: {
    title: 'Misiejuk websites'
  }
}
</script>
