<template>
  <v-scale-transition>
    <v-container>
      <h1>{{ msg }} {{ this.user.displayName }}</h1>
      <v-layout row wrap>
        <v-text-field
          v-model="newitem.name"
          label="Nazwa"
        />
        <v-btn
          @click="addItem"
        >
          Dodaj
        </v-btn>
      </v-layout>
      <v-list
        class="grey lighten-5"
      >
        <template
          v-for="item in items"
        >
          <v-list-tile
            :key="item['.key']"
          >
            <v-list-tile-content>
              <v-list-tile-title>
                {{ item.name }}
              </v-list-tile-title>
            </v-list-tile-content>
            <v-list-tile-action>
              <v-icon @click="removeItem(item)">delete</v-icon>
            </v-list-tile-action>
          </v-list-tile>
          <v-divider>
          </v-divider>
        </template>
      </v-list>
    </v-container>
  </v-scale-transition>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'list',
  metaInfo: {
    title: 'List'
  },
  data () {
    return {
      msg: 'Lista',
      newitem: {
        name: ''
      }
    }
  },
  computed: {
    ...mapGetters([
      'fbDb',
      'user'
    ])
  },
  methods: {
    addItem () {
      this.$firebaseRefs.items.push({
        name: this.newitem.name
      })
      this.newitem.name = ''
    },
    removeItem (item) {
      this.$firebaseRefs.items.child(item['.key']).remove()
    }
  },
  firebase () {
    return {
      items: this.fbDb.ref('users/' + this.user.uid + '/items')
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>

</style>
