<template>
  <v-app>
    <v-navigation-drawer
      v-model="drawer"
      fixed
      app
    >
      <v-list>
        <template v-for="(item, i) in items">
          <v-list-tile
            :key="i"
            :to="item.path"
          >
            <v-list-tile-action class="ml-2">
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>
                {{ item.title }}
              </v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </template>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar
      fixed
      app
    >
      <v-toolbar-side-icon light @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title>Misiejuk websites</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items>
        <AuthDialog />
      </v-toolbar-items>
    </v-toolbar>
    <v-content>
      <router-view/>
    </v-content>
  </v-app>
</template>

<script>
import AuthDialog from '@/components/AuthDialog'

export default {
  data () {
    return {
      drawer: false,
      metaInfo: {
        title: 'Misiejuk websites',
        titleTemplate: '%s | Misiejuk websites'
      },
      items: [
        {
          icon: 'list',
          title: 'Home',
          path: '/'
        },
        /*
        {
          icon: 'list',
          title: 'Lista',
          path: '/list'
        },
        */
        {
          icon: 'list',
          title: 'Blog',
          path: '/blog'
        },
        {
          icon: 'list',
          title: 'O mnie',
          path: '/o-mnie'
        },
        {
          icon: 'list',
          title: 'Lista',
          path: '/list'
        }
      ]
    }
  },
  components: {
    AuthDialog
  }
}
</script>

<style>
/* self hosting Roboto-normal and material-design-icons */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    src: url(../public/fonts/roboto/Roboto.eot);
    src: url(../public/fonts/roboto/Roboto.eot?#iefix) format('embedded-opentype'),
         url(../public/fonts/roboto/Roboto.woff) format('woff'),
         url(../public/fonts/roboto/Roboto.ttf) format('truetype');
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../public/fonts/material-design-icons/MaterialIcons-Regular.eot);
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../public/fonts/material-design-icons/MaterialIcons-Regular.woff2) format('woff2'),
    url(../public/fonts/material-design-icons/MaterialIcons-Regular.woff) format('woff'),
    url(../public/fonts/material-design-icons/MaterialIcons-Regular.ttf) format('truetype');
}

/* material-design-icons css */
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}
a {
  text-decoration: none;
}
/* Overlay shadow out of header toolbar */
.v-overlay {
  top:64px;
}
@media (max-width:959px) {
  .v-overlay {
    top:48px;
  }
}
@media (orientation:portrait) {
  .v-overlay {
    top:56px;
  }
}
</style>
